# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_SECRET="ganti-dengan-string-acak-panjang-minimal-32-karakter"
NEXTAUTH_URL="http://localhost:3000"

# Admin default password (untuk seed pertama kali)
ADMIN_DEFAULT_PASSWORD="admin123"

# Crawler settings (opsional)
CRAWLER_TIMEOUT_MS=30000
CRAWLER_RETRY_ATTEMPTS=3
